[submodule "Link-Gather-Front"]
	path = Link-Gather-Front
	url = https://github.com/Link-Gather/Link-Gather-Front.git
	branch = main
[submodule "Link-Gather-API"]
	path = Link-Gather-API
	url = https://github.com/Link-Gather/Link-Gather-API.git
	branch = main
